/*전체 기본 설정*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*기본 폰트 & 배경*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000;
}
/*링크 스타일 제거*/
a {
    text-decoration: none;
    color: inherit;
}
/*버튼 기본 스타일 초기화*/
button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
/*이미지 깨짐 방지*/
img {
    display: block;
    max-width: 100%;
}
/*리스트 스타일 제거*/
ul, li {
    list-style: none;
}